body {
    font-family: Arial, sans-serif;
    background-color: #ac99ab;      
    color: #333;                      
    margin: 0;                        
    padding: 0;                       
}

#contenedor {
    width: 80%;                       
    max-width: 900px;
    margin: 20px auto;                
    background: #a6b4f3;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(107, 91, 91, 0.1);
}

.seccion {
    padding: 25px;                   
    margin: 15px;                     
    border-bottom: 1px solid #eee;
}
.destacado {
    color: #007bff;                  
    font-weight: bold;
}


h1, h2 {
    color: #004a99;
}

h1 {
    text-align: center;
    padding-top: 20px;
}


table {
    width: 100%;            
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 12px;                 
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #007bff;        
    color: white;                    
}

img {
    width: 100%;                  
    height: auto;                     
    border-radius: 5px;
}